*{
    margin:0;
}
/***********             Navigation  Bar  style       ************/
.text-primary{
    color:#FD6E0A;
}
/* header and navigation style */
.header{
    background: #FFF8F3;
    /* set two background images  */
    background-image: url(../images/header_bg.png) , url(../images/developer.png);
    /* no repeat image in back ground*/
    background-repeat:no-repeat;
    /* set two background images in position */
    background-position:bottom right , left;
}
nav{
    /* make one line  */
    display:flex;

    /* give a space between */
    justify-content:space-between;
    /* top and bottom 50px and left and right 200px */
    margin:50px 200px;
}
nav ul{
    /* to make one line */
    display:flex;
    align-items:center;
}
nav li{
    /* to remove bullet point */
    list-style:none;
    margin-left:50px;
}
.nav-title{
    font-weight:800;
    font-size:45px;
}

/*             Button Style in Navigation Bar                    */

.button-primary{
    height:64px;
    border-radius:5px;
    background-color:#FD6E0A;
    color:#FFFFFF;
    font-size:20px;
    font-weight:700;
    border:0;
    /* top and bottom 18px and left and right 35px */
    padding:18px 35px;

}

/*                       Banner Style                     */

.banner{
    display:flex;
    margin:0 200px;
    align-items:center;
}
.banner-title{
    font-weight:700;
    font-size:85px;
}
.banner-subtitle{
    font-weight:600;
    font-size:45px;
    margin-bottom:20px;
}
.banner-description{
    color: #757575;
    font-size:18px;
    margin-bottom:30px;
}
/*         main section          */
.main{
    max-width: 1140px;
    margin:0 auto;
}


/*                  About section style                 */
.about{
    margin-top:130px;
    background:#FFF8F3;
    border-radius:10px;
    padding:130px 150px;
    text-align:center;
}

.section-title{
    
    font-weight:700;
    font-size:35px;
    margin-bottom:30px;
}

.section-description{
    color:#757575;
    font-size:18px;
    margin-bottom:30px;
}

.about-info-container{
    display:flex;
    justify-content:space-around;
}
.about .info-title{
    font-size:20px;
    color:#757575;
}
.info-description{
    font-weight:700;
    font-size:20px;
    color:#474747;
}
