/* universal class */
*{
    margin:0;
}

.text-primary{
    color:#FD6E0A;
}

.header{
    background:#FFF8F3;
    background-image:url(../images/header_bg.png),url(../images/developer.png);
    background-repeat:no-repeat;
    background-position:bottom right, left;
}

/*                    Header and Navigation Bar  Style */
nav{
    display:flex;
    justify-content:space-between;
    margin:50px 200px;
}
nav ul{
    display:flex;
    align-items:center;
}
nav li{
    list-style:none;
    margin-left:50px;
}
.nav-title{
    font-size:45px;
    font-weight:800;
}

/*               Button Style               */

.button-primary{
    color:#FFFFFF;
    font-weight:700;
    font-size:20px;
    background:#FD6E0A;
    border:0;
    height:64px;
    /* weight: ; */
    border-radius:5px;
    padding: 18px 35px;
}

/*                 Banner Styles                */
.banner{
    margin: 0 200px;
    display:flex;
    align-items:center;
}

.banner-title{
    font-size:85px;
    font-weight:700px;
}
.banner-sub-title{
    font-size:45px;
    font-weight:600px;
    margin-bottom:20px;
}
.banner-description{
    color:#757575;
    font-size:18px;
    margin-bottom:30px;
}
/*                         Main Section Style       */
main{
    max-width: 1140px;
    /* must use center align whe use max-width  */
    margin:0 auto;
}
/*                        About Section Style        */

.about{
    margin-top:130px;
    background:#FFF8F3;
    border-radius: 10px;
    padding:130px 150px;
    text-align:center;
}

.section-title{
    
    margin-bottom:30px;
    font-size:35px;
    font-weight:700px;
}

.section-description{
    color:#757575;
    font-size:18;
    margin-bottom:30px;
}

.about-info-container{
    display:flex;
    justify-content:space-around;
}

.about-info{

}
.about .info-title{
    font-size:20px;
    color:#757575;
}
.info-description{
    font-size:20px;
    font-weight:700;
    color:#474747;
}
